# Archivos de variables de entorno
.env

# Dependencias de Node.js
node_modules/
client/node_modules/
Server/node_modules/

# Archivos de build del frontend
client/build/

# Archivos de log
*.log

# Otros archivos temporales o de sistema
.DS_Store
Thumbs.db